<ion-header>

  <ion-navbar>
    <ion-title>TaskDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="onClick()">
    <ion-list *ngFor="let formField of task.form">
        <ion-item>
            <ion-label>
              {{formField.name}}
            </ion-label>
            <ion-input formControlName="{{formField.key_}}" *ngIf="formField.type != 'Boolean'" [type]="formField.type" [(ngModel)]="formField.value" [required]="formField.required" [style.invalid]="formField.invalid" required="{{formField.required}}"></ion-input>
            <ion-checkbox formControlName="{{formField.key_}}" *ngIf="formField.type == 'Boolean'" [(ngModel)]="formField.value" [required]="formField.required" [style.invalid]="formField.invalid" required="{{formField.required}}"></ion-checkbox>
          </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="!formGroup.valid">ok</button>
  </form>
</ion-content>
