<ion-header>
  <ion-navbar>
    <ion-title>
      <avatar [user]="user" (logout)="logout()"></avatar>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right>
    <button ion-fab (click)="newLog()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <ion-list *ngIf="brewLogs?.length > 0">
    <ion-list-header>{{user?.username}}'s {{'brewLogs' | i18n}}</ion-list-header>
    <ion-item-sliding *ngFor="let log of brewLogs">
      <ion-item detail-push (click)="open(log)">
        <brew-log [value]="log"></brew-log>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button expandable (click)="remove(log)" class="delete">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <section  *ngIf="brewLogs?.length == 0">
    <ion-label>{{ 'noLog' | i18n }}</ion-label>
    <button ion-button (click)="newLog()" >{{ 'newLog' | i18n }}</button>
  </section>
</ion-content>
