<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ brewLog.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <section>
    <header>
      {{'step' | i18n}}
    </header>
    <ion-list *ngFor="let task of tasks">
      <button ion-item (click)="openTask(task)">{{task.name}}</button>
    </ion-list>
  </section>
  <section>
      <header>
        {{'options' | i18n}}
      </header>
      <ion-list *ngFor="let option of options">
        <button ion-item (click)="activateOption(option)">{{option.name}}</button>
      </ion-list>
    </section>
    <section>
      <brew-history [value]="brewLog"></brew-history>
    </section>
</ion-content>
