<ion-header>
  <ion-navbar>
    <ion-title>
      <span class="pageCtl">
        <ion-icon name="close" (click)="viewCtl.dismiss()"></ion-icon>
      </span>
      {{ 'newLog' | i18n }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="createNewLog()">
    <ion-item>
      <ion-label floating>{{ 'name' | i18n }}</ion-label>
      <ion-input required [(ngModel)]="brewLog.name" name="name"></ion-input>
    </ion-item>
    <button ion-button full type="submit">{{ 'newLog' | i18n }}</button>
  </form>
</ion-content>