<header>
    {{ value.action }}
    <span class="dates">
        <p>{{ value.started | date:'medium'}}</p>
        <p>{{ value.terminated | date:'medium'}}</p>
    </span>
</header>
<main>
    <ul>
        <ng-container *ngFor="let element of value.elements">
            <li *ngIf="element.value && element.value.length > 0">
                <span>
                    <label>{{ element.name }}</label>
                    <label>{{ element.value }}</label>
                </span>
            </li>
        </ng-container>
    </ul>
</main>